<% content_for :head do %>
<%= stylesheet_link_tag "login.css" %> 
<% end %>

<div class="container">
 	
	<div class="row row-center ">
    <div class="col-md-4">
    </div>
		<div class="col-md-4">
			<%= form_for :session, url: 'create' do |f| %>
      <div>
  			<h2 style="text-align:left;float:left;">Login to your account</h2>
        <h5 style="text-align:right; float:right;"><%= link_to "Create account", {:action => 'new', :controller=>"users" } %> 
        </h5>      <hr style="clear:both;"/>
      </div>

			
			<p class="error"><%= flash[:error] %></p>
      <div class="box">
        <p>EMAIL</p>
				<div class="field">
					<%= f.text_field :username, class: "form-control", placeholder: "Email", autofocus: :true%>
				</div> </br>
        <p>PASSWORD</p>
				<div class="field">
					<%= f.password_field :password, class: "form-control", placeholder: "Password"%> </br>
				</div> </div> </br>
        	<div class="field">
        			<%= f.check_box :remember_me %>
        			<span class="remember">REMEMBER ME</span> 
              <span><%= f.submit "LOGIN", class: "btn pull-right button-css", id: "submit"%></span>
       		</div>
        		 
    		<%end%>
			
			
		</div> 
    <div class="col-md-4">
    </div>
	</div>
</div>

