<!DOCTYPE html>
<html lang="en">
<head>
  <title>abhShoes</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <%= stylesheet_link_tag "cart.css" %> 
</head>
<body>
	<div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>

      <div class="col-md-6">
      	<div style="display: inline-block"><h2 class="category_title" style="margin-left:0px">Your cart</h2></div>
        <div style="display: inline-block; position: absolute; right: 38px;"><h2 class="category_title purchase_history" style=""><%= link_to "Purchase history", {:action => 'history', :controller=>'order' } %></h2></div>
      	<% @items %>
        
      	<% @sum=0 %>
      	<% @items.each do |item| %>
      	<% @sum=@sum+(Product.find_by(id: item.product_id).price.round(2) * item.quantity) %>
        <% @brand_id=Product.find_by(id: item.product_id).brand_id %>

      	<div>
      	<div class="imageProduct">
      		<%= image_tag Product.find_by(id: item.product_id).image, :size => "120x120" %>
      		</div>
      		<p class="description_cart"> Model: <%= Product.find_by(id: item.product_id).name %>  </br>
           Brand: <%= Brand.find_by(id: @brand_id).brand %> </br>
      		 Size: <%= item.size %> </br>
      		 Color: <%= item.color %> </br>
      		 ID: <%= item.product_id %> </p>

      		 <p class="price_o"> Price: </p>
      		 <p class="price_item"> <%= Product.find_by(id: item.product_id).price.round(2) %>KM </p>
      		 <p class="quantity_cart"> Quantity: </p>
      		 <p class="quantity_item"> <%= item.quantity %>   </p>

      		
      	
      	
      </div>

      	<% end %>



      </div>

      <div class="col-md-4">
      	<h2 class="paymentProgress" style="display: inline-block; left: 0; color: rgba(0, 0, 0, 0.61);">Cart</h2>
        <h2 class="paymentProgress" style="display: inline-block; position: absolute; left: 159px; color: rgba(0, 0, 0, 0.25); ">Delivery</h2>
        <h2 class="paymentProgress" style="display: inline-block; position: absolute; left: 312px; color: rgba(0, 0, 0, 0.25); ">Payment</h2>
        <div class="progress" style="margin-top:-28px;">
          <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
          
          </div>
        </div>
      	<% @item_quantity %>
      	<div class="box_order">
      		<span class="order_title"> Order: </span>
      		<span class="order_quantity"> <%= @item_quantity %> items </span>
      		<p class="order_price"> Price: </p>
      		<p class="order_sum"> <%= @sum %>KM </p>
      		<p class="order_price"> Delivery: </p>
      		<p class="order_sum"> 30.00KM </p>
      		<hr class="hr_order"/> 
      		
      		<p class="order_price"> Total: </p>
      		<p class="order_sum"> <%= @sum+30 %>KM </p>   

      	</div>

      	<div class="btn-group" style="margin-bottom:100px">

      		<%= link_to raw('<button type="button" class="btn btn-primary btn-sm dropButton" style="width: 103px; margin-left:120px; text-align: center; margin-top: 0px"; position: absolute; top: -42px>Drop</button>'), :controller => "cart", :action => "drop" %>

			<%= link_to raw('<button type="button" class="btn btn-primary btn-sm background continueButton" style="width: 103px; margin-left:120px; text-align: center; margin-top: 0px"; position: absolute; top: -42px>Continue</button>'), :controller => "cart", :action => "delivery"  %>
		</div>


      </div>
      <div class="col-md-1">
      </div>

  </div>
</div>
</body>

