<% content_for :head do %>
<%= stylesheet_link_tag "admin.css" %> 
<% end %>
<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
      <div class="error" style="margin-left:17px">
          
      </div>
      <div class="error" style="margin-left:17px">
          <% if  @newBrand.errors.any? %>
          <h2 class="error-title">Errors:</h2>
          <ul>
            <% @newBrand.errors.full_messages.each do |message| %>
            <li>  <%= message %></li>
            <% end %>

          </ul>

          <% end %>
      </div>
			<div class="boxUser">
			<%= form_for :createBrand, :url=>{:action => "createBrand", :controller => "admin"} do |f| %>
      
      		
      		<div>
       		<p>Brand</p>
        	<div class="field delivery_field">
          	<%= f.text_field "brand", class: "form-control", placeholder: "Brand", autofocus: :true%>
        	</div> 
        	</div>
          </br>
          
        	</br>
          

			
		
			<div class="btn-group" style="left: 455px; bottom: -157px;">

     			<%= link_to raw('<button type="button" class="btn btn-primary button_back" style="position: absolute; left: 120px;">Back</button>'), {:controller => "admin", :action => "brands" } %>

		  		<%= submit_tag "Create", class: "btn btn-primary button_save_user",  id: "Create" %>
      
        		
		  </div>
		  	<% end %>
        	
      </div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

