<% content_for :head do %>
<%= stylesheet_link_tag "admin.css" %> 
<% end %>
<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
      <div class="error" style="margin-left:17px">
          <% if  @editCountry.errors.any? %>
          <h2 class="error-title">Errors:</h2>
          <ul>
            <% @editCountry.errors.full_messages.each do |message| %>
            <li>  <%= message %></li>
            <% end %>

          </ul>

          <% end %>
      </div>
			<div class="boxUser">
			<%= form_for :updateCountry, :url=>{:action => "updateCountry", :controller => "admin", :id => @editCountry.id} do |f| %>
      
      	

      		<div>
       		<p>Country</p>
        	<div class="field delivery_field">
          	<%= f.text_field :country, :name => "country", class: "form-control", value: @editCountry.country %>
        	</div> 
        	</div>
        	</br>
          <div>
          <p>Delivery price (KM)</p>
          <div class="field delivery_field">
            <%= f.number_field :delivery, :name => "delivery", class: "form-control", value: @editCountry.delivery, :step => 0.01, :min => 0%>
          </div> 
          </div>
          </br>

			
		
			<div class="btn-group" style="left: 455px; bottom: -122px;">

     			<%= link_to raw('<button type="button" class="btn btn-primary button_back" style="position: absolute; left: 120px;">Back</button>'), {:controller => "admin", :action => "countries" } %>

		  		<%= submit_tag "Save", class: "btn btn-primary button_save_user",  id: "Save" %>
      
        		
		  	</div>
		  	<% end %>
        	
      		</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

