<% content_for :head do %>
<%= stylesheet_link_tag "admin.css" %> 
<% end %>
<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
      <div class="error" style="margin-left:17px">
          <% if  @editShoes.errors.any? %>
          <h2 class="error-title">Errors:</h2>
          <ul>
            <% @editShoes.errors.full_messages.each do |message| %>
            <li>  <%= message %></li>
            <% end %>

          </ul>

          <% end %>
      </div>
			<div class="boxEditShoes">
			<%= form_for :updateShoes, :url=>{:action => "updateShoes", :controller => "admin", :id => @editShoes.id} do |f| %>
      
      	

      		<div>
       		<p>Name</p>
        	<div class="field delivery_field">
          	<%= f.text_field :name, :name => "name", class: "form-control", value: @editShoes.name %>
        	</div> 
        	</div>
        	</br>

          <div>
          <p>Description</p>
          <div class="field delivery_field">
            <%= f.text_area  :description, :name => "description", class: "form-control", value: @editShoes.description, rows: 3%>
          </div> 
          </div>

          </br>
          <div>
          <p>Price (KM)</p>
          <div class="field delivery_field">
            <%= f.number_field :price, :name => "price", class: "form-control", value: @editShoes.price, :step => 0.01, :min => 1%>
          </div> 
          </div>

          </br>


          <div class="form-group delivery_field">
            <p>Brand</p>
            <select class="form-control" id="brand" name="brand">
              <option value="" selected disabled>Select brand</option>
            <% @brands.each do |brand| %>
              <% if brand.brand==@brand %>
                <option selected><%= brand.brand %></option>
              <% else %>
                <option><%= brand.brand %></option>
              <% end %>
            <% end %>
            </select>

          </div>

           <div class="form-group delivery_field">
            <p>Category</p>
            <select class="form-control" id="category" name="category">
              <option value="" selected disabled>Select category</option>
            <% @categories.each do |category| %>
              <% if category.name==@category %>
                <option selected><%= category.name %></option>
              <% else %>
                <option><%= category.name %></option>
              <% end %>
              <% end %>
            </select>

          </div>
          </br>
          <div>
          <p>On Sale</p>
            <div class="radio">
            <label><input id="onSale" type="checkbox"  value="onSale" name="onSale"> Yes</label>
          </div>
          <div class="radio">
            <label><input id="notOnSale" type="checkbox"  value="notOnSale" name="onSale"> No</label>
          </div>
          </div>

         
          <div>
          <p>Sale Price (KM)</p>
          <div class="field delivery_field">
            <%= f.number_field :sale_price, :name => "sale_price", class: "form-control", value: @editShoes.sale_price, :step => 0.01, :min => 1%>
          </div> 
          </div>

          <div class="detailImageAdminEdit">
            <% if @editShoes.image_file_name.present? %>
            <%= image_tag @editShoes.image.url(:mid1), :style => "margin-top: 15px" %>
            <% else %>
            <%= image_tag @editShoes.picture, :size => "220x220" %>
            <% end %>
          </div>  

          <div style="position: absolute; left: 526px; top: 305px;">
          <%= f.file_field :image, :name => "image" %>
          </div>

          <div style="position: absolute; left: 485px; top: 381px;">
          <p>Link to Image</p>
          <div class="field delivery_field">
            <%= f.text_field :picture, :name => "picture", class: "form-control", value: @editShoes.picture %>
          </div> 
          </div>



			
		
			<div class="btn-group" style="left: 459px; bottom: 45px">

     			<%= link_to raw('<button type="button" class="btn btn-primary button_back" style="position: absolute; left: 120px;">Back</button>'), {:controller => "admin", :action => "shoes" } %>

		  		<%= submit_tag "Save", class: "btn btn-primary button_save_user",  id: "Save" %>
      
      <% if @editShoes.onSale %>
          <script>
            document.getElementById("onSale").checked = true;
      </script>
          <% else %>
          <script>
            document.getElementById("notOnSale").checked = true;
      </script>
          <% end %>
        		
		  	</div>
		  	<% end %>

        	
      		</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

<script>
$("input:checkbox").on('click', function() {
  var $box = $(this);
  if ($box.is(":checked")) {
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});
</script>

