<% content_for :head do %>
<%= stylesheet_link_tag "admin.css" %> 
<% end %>
<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
      <div class="error" style="margin-left:17px">
          <% if  @editShoes.errors.any? %>
          <h2 class="error-title">Errors:</h2>
          <ul>
            <% @editShoes.errors.full_messages.each do |message| %>
            <li>  <%= message %></li>
            <% end %>

          </ul>

          <% end %>
      </div>
			<div class="boxShoes">
			<%= form_for :updateShoes, :url=>{:action => "updateShoes", :controller => "admin", :id => @editShoes.id} do |f| %>
      
      	

      		<div>
       		<p>Name</p>
        	<div class="field delivery_field">
          	<%= f.text_field :name, :name => "name", class: "form-control", value: @editShoes.name %>
        	</div> 
        	</div>
        	</br>

          <div>
          <p>Description</p>
          <div class="field delivery_field">
            <%= f.text_area  :description, :name => "description", class: "form-control", value: @editShoes.description, rows: 3%>
          </div> 
          </div>

          </br>
          <div>
          <p>Price (KM)</p>
          <div class="field delivery_field">
            <%= f.number_field :price, :name => "price", class: "form-control", value: @editShoes.price, :step => 0.01, :min => 1%>
          </div> 
          </div>

          </br>


          <div class="form-group delivery_field">
            <p>Brand</p>
            <select class="form-control" id="brand" name="brand">
              <option value="" selected disabled>Select brand</option>
            <% @brands.each do |brand| %>
              <% if brand.brand==@brand %>
                <option selected><%= brand.brand %></option>
              <% else %>
                <option><%= brand.brand %></option>
              <% end %>
            <% end %>
            </select>

          </div>

           <div class="form-group delivery_field">
            <p>Category</p>
            <select class="form-control" id="category" name="category">
              <option value="" selected disabled>Select category</option>
            <% @categories.each do |category| %>
              <% if category.name==@category %>
                <option selected><%= category.name %></option>
              <% else %>
                <option><%= category.name %></option>
              <% end %>
              <% end %>
            </select>

          </div>

          <div class="detailImage">
            <%= image_tag @editShoes.image, :size => "220x220" %>
          </div>

          <div style="position: absolute; left: 485px; top: 308px;">
          <p>Link to Image</p>
          <div class="field delivery_field">
            <%= f.text_field :image, :name => "image", class: "form-control", value: @editShoes.image %>
          </div> 
          </div>



			
		
			<div class="btn-group" style="left: 459px; bottom: 6px">

     			<%= link_to raw('<button type="button" class="btn btn-primary button_back" style="position: absolute; left: 120px;">Back</button>'), {:controller => "admin", :action => "shoes" } %>

		  		<%= submit_tag "Save", class: "btn btn-primary button_save_user",  id: "Save" %>
      
        		
		  	</div>
		  	<% end %>
        	
      		</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

