<% content_for :head do %>
<%= stylesheet_link_tag "admin.css" %> 
<% end %>
<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
      <div class="error" style="margin-left:17px">
          <% if  @editCategory.errors.any? %>
          <h2 class="error-title">Errors:</h2>
          <ul>
            <% @editCategory.errors.full_messages.each do |message| %>
            <li>  <%= message %></li>
            <% end %>

          </ul>

          <% end %>
      </div>
			<div class="boxUser">
			<%= form_for :updateCategory, :url=>{:action => "updateCategory", :controller => "admin", :id => @editCategory.id} do |f| %>
      
      	

      		<div>
       		<p>Name</p>
        	<div class="field delivery_field">
          	<%= f.text_field :name, :name => "name", class: "form-control", value: @editCategory.name %>
        	</div> 
        	</div>
        	</br>

        	<div>
          <p>Tag</p>
          <div class="field delivery_field">
            <%= f.text_field :tag, :name => "tag", class: "form-control", value: @editCategory.tag %>
          </div> 
          </div>
          </br>
			
		
			<div class="btn-group" style="left: 455px; bottom: -83px;">

     			<%= link_to raw('<button type="button" class="btn btn-primary button_back">Back</button>'), {:controller => "admin", :action => "categories" } %>

		  		<%= submit_tag "Save", class: "btn btn-primary button_save_user",  id: "Save" %>
      
        		
		  	</div>
		  	<% end %>
        	
      		</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

