<% content_for :head do %>
<%= stylesheet_link_tag "admin.css" %> 
<% end %>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div id="toolbar">
          
                <button id="button" class="btn btn-default">Remove</button>
            <%= link_to raw('<button type="button" class="btn btn-default">Add Variants</button>'), {:controller => "admin", :action => "addVariants", :product_id => @id } %>
            <%= link_to raw('<button type="button" class="btn btn-default">Colors</button>'), {:controller => "admin", :action => "colors" } %>
            <%= link_to raw('<button type="button" class="btn btn-default">Sizes</button>'), {:controller => "admin", :action => "sizes" } %>
            </div>
            <table 
                id="table"
                class="tableCSS"
                data-toggle="table"
                data-toolbar="#toolbar"
                data-classes="table table-hover table-condensed"
                data-striped="true"
                data-sort-name="id"
                data-sort-order="asc"
                data-pagination="true"
                data-page-list=""
                data-search="true"
                

                >
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="id" data-sortable="true">ID</th>
                        <th data-field="name" data-sortable="true">Name</th>
                        <th data-field="size" data-sortable="true">Size</th>
                        <th data-field="color" data-sortable="true">Color</th>
                        <th data-field="quantity" data-sortable="true">Quantity</th>
                        <th data-field="options">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <% @variants.each do |variant| %>
                    <tr>
                        <td></td>
                        <td><%= variant.id %></td>
                        <td><%= Product.find_by(id: variant.product_id).name %></td>
                        <td><%= Size.find_by(id: variant.size_id).size %></td>
                        <td><%= Color.find_by(id: variant.color_id).color %></td>
                        <td><%= variant.quantity %></td>
                        <td>
                            <%= link_to raw('<span class="glyphicon glyphicon-pencil" style="margin-left:5px"></span>'), {:action => "editVariants", :controller => "admin", :id => variant.id, :product_id => variant.product_id} %>
                            <%= link_to raw('<span class="glyphicon glyphicon-trash" style="margin-left:5px"></span>'), {:action => "deleteVariants", :controller => "admin", :id_s => variant.id} %>

                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="col-md-1">
        </div>

    </div>
</div>

<script>
    var $table = $('#table'),
        $button = $('#button');

    $(function () {
        $button.click(function () {
            var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id;
            });
            
            var link = '<%= deleteVariants_admin_index_url %>'

            attr="";
            ids.forEach(function(entry) {
               attr=attr+"&id[]="+entry

            console.log(entry);
            });

            link = link + "?" + attr;
            //alert(link);
            window.location=link;


        });
    });

</script>



