<!DOCTYPE html>
<html lang="en">
<head>
  <title>abhShoes</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <%= stylesheet_link_tag "cart.css" %> 
</head>
<body>
	<div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>

      <div class="col-md-6">
      	<div style="display: inline-block"><h2 class="category_title" style="margin-left:0px">Your order</h2></div>
        <div style="display: inline-block; position: absolute; right: 38px;"><h2 class="category_title purchase_history" style="margin-left:0px"><%= link_to "Purchase history", {:action => 'history', :controller=>'order' } %></h2></div>

      	<% @items %>

      	<% @items.each do |item| %>

      	<div>
      	<div class="imageProduct">
      		<%= image_tag item.image, :size => "120x120" %>
      		</div>
      		<p class="description_cart"> Model: <%= item.name %>  </br>
      		 Size: <%= item.size %> </br>
      		 Color: <%= item.color %> </br>
      		 </p>

      		 <p class="price_o"> Price: </p>
      		 <p class="price_item"> <%= item.price.round(2) %>KM </p>
      		 <p class="quantity_cart"> Quantity: </p>
      		 <p class="quantity_item"> <%= item.quantity %>   </p>

      		
      	
      	
      </div>

      	<% end %>



      	</div>

      <div class="col-md-4">
      	
      	<div class="box_order" style="margin-top:60px" >
      	<span class="order_title"> Order: </span>
      	<span class="order_quantity"> <%= @items.count %> items </span>
      	<p class="order_price"> Price: </p>
      	
      	<p class="order_sum"> <%= @order.total_price %>KM </p>
      	<p class="order_price"> Delivery: </p>
      	<p class="order_sum"> 30.00KM </p>
      	<hr class="hr_order"/> 
      	
      	<p class="order_price"> Total: </p>
      	<p class="order_sum"> <%= @order.total_price+30 %>KM </p>
      	</div>
      	<div class="box_order" style="margin-top: 5px; padding-bottom: 13px;">
      	<span class="order_title"> Delivery address: </span>
      	<p class="delivery_address_field" style="margin-top:5px;"> <%= @delivery_address.full_name %> </br>
            <%= @delivery_address.address %> </br>
            <%= @delivery_address.city %>, <%= @delivery_address.region %> <%= @delivery_address.zip %></br>
            <%= @delivery_address.country %> </br>
            Phone: <%= @delivery_address.phone %> </br> </p>
        <hr class="hr_order"/> 
      	<span class="order_title"> Billing address: </span>
      	<p class="delivery_address_field" style="margin-top:5px;"> <%= @billing_address.full_name_bill %> </br>
            <%= @billing_address.address_bill %> </br>
            <%= @billing_address.city_bill %>, <%= @billing_address.region_bill %> <%= @billing_address.zip_bill %></br>
            <%= @billing_address.country_bill %> </br>
            Phone: <%= @billing_address.phone_bill %> </p>


      	</div>

      </div>
      <div class="col-md-1">
      </div>

  </div>
</div>
</body>

