<% content_for :head do %>
<%= stylesheet_link_tag "login.css" %> 
<% end %>

<div class="container">
	
	<div class="row row-center ">
    	<div class="col-md-4">
    	</div>
  
		<div class="col-md-4">
			<%= form_for :users, url: 'create' do |f| %>
			
			<div>
				<h2 style="text-align:left;float:left;">Create your account</h2>
      			<h5 style="text-align:right; float: right;"><%= link_to "Login to your account", {:action => 'new', :controller=>"sessions" } %> </h5> 
     			 <hr style="clear:both;"/>
    		</div>

			<div class="error">
			<% if  @user.errors.any? %>
				<h2>Errors:</h2>
				<ul>
					<% @user.errors.full_messages.each do |message| %>
					<li>  <%= message %></li>
					<% end %>

				</ul>

				<% end %>
			</div>
			

			<div class="box">
       			<p>EMAIL</p>
				<div class="field">
					<%= f.text_field "username", class: "form-control", placeholder: "Email", autofocus: :true%>
				</div> </br>
				<p>PASSWORD</p>
				<div class="field">
					<%= f.password_field  "password", class: "form-control", placeholder: "Password"%>
				</div> </br>
				<p>CONFIRM PASSWORD</p>
				<div class="field">
					<%= f.password_field "password_confirmation", class: "form-control", placeholder: "Confirm Password"%>
				</div> </br> 
			</div> </br>
			
				
        	<div class="field">
  				
				<%= f.submit "CREATE ACCOUNT", class: "btn pull-right button-css", id: "create"%>
			</div> 
			<%end%>
			
		</div>
		<div class="col-md-4">
    	</div>
	</div>
</div>


