<% content_for :head do %>
  <%= stylesheet_link_tag "images.css" %> 
  <%= stylesheet_link_tag "featuredProducts.css" %> 
<% end %>

<div class="col-md-8 col-sm-6 col-xs-4 coverImage">  
</div> 

<div class="container ">
  <div class="row">
    <div class="col-md-1">
    </div>
  
    <div class="col-md-10">
      <h4 style="margin-right:10px"> Featured Products </h4>
      <% @featured_product.each do |f| %>
        <div class="image hovereffect">
          <%= image_tag f.image, :size => "180x180" %>
            <div class="overlay">
              <h2> <%= link_to f.name, :controller => "product", :action => "detail", :id => f.id %></h2>
              <p class="info" href="#"><%= f.price.round(2) %> KM</p>
            </div> 
        </div>
      <% end %>
    </div>
  
    <div class="col-md-1">
    </div>
  </div>
</div>
 



