<% content_for :head do %>
  <%= stylesheet_link_tag "images.css" %> 
  <%= stylesheet_link_tag "featuredProducts.css" %> 
<% end %>

<div class="col-md-8 col-sm-6 col-xs-4 coverImage">  
</div> 

<div class="container ">
  <div class="row">
    <div class="col-md-1">
    </div>
  
    <div class="col-md-10">
      <h4 style="margin-right:10px"> Featured Products </h4>
      <% @featured_product.each do |f| %>
        <div class="image hovereffect">
          <span style="cursor:pointer">
          <%= image_tag f.image, :size => "180x180" %>
            <a class="overlay" id="overlay" data-id="<%=f.id%>" onclick="getID(this);">
              <h2> <%= f.name %></h2>
              <p class="info"><%= f.price.round(2) %> KM</p>
            </a> </span>
        </div>
      <% end %>
    </div>
  
    <div class="col-md-1">
    </div>
  </div>
</div>

<% content_for :footer do %>
  <script type="text/javascript">

        var link = '<%= product_detail_url %>'

        function getID(identifier){     
            (window.location=link+"?id="+$(identifier).data('id'));               
        };
       

    </script>
<% end %>
 



