<%= stylesheet_link_tag "product.css" %> 
<% @products.each do |product| %>
 

<div class="imageProduct">
  <% if product.onSale %>
    <span class="saleSticker1">
      <%= image_tag "sale.png" %>
    </span>
  <% end %>
  <% if product.image_file_name.present? %>
  <%= link_to (image_tag product.image.url(:small)), :controller => "product", :action => "detail", :id => product.id %>

  <% else %>
  <%= link_to (image_tag product.picture, :size => "120x120"), :controller => "product", :action => "detail", :id => product.id %>
  <% end %>
  
  <% if product.onSale %> 
  <h4> <%= product.name %> </br><%= Brand.find_by(id: product.brand_id).brand %></br> <span style="color: #ce0053; margin-right:5px;"><%= product.sale_price.round(2) %> KM </span><strike><span><%= product.price.round(2) %> KM </span></strike>
  </h4>
  <% else %>  
  <h4> <%= product.name %> </br><%= Brand.find_by(id: product.brand_id).brand %></br> <%= product.price.round(2) %> KM 
  </h4>
  <% end %>
  <% @color_id=Variant.where(product_id: product.id).select('color_id') %>
  <% @color_name=Color.where(id: @color_id).to_a %>

    <div class="positionColors">
      <% @color_name.each do |i| %>
      <div class="circle" style="background: <%= i.code %>;">
      </div>
      <% end %>
    </div>
 
</div>

<% end %>