<!DOCTYPE html>
<html lang="en">
<head>
	<title>abhShoes</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
  	<%= stylesheet_link_tag "detail.css" %> 
</head>
<body>
</br>

	<div class="container ">

		<div class="row">
			<% @product.each do  |product| %>
  			<div class="col-md-1">
  			</div>

  			<div class="col-md-5">
  				<div class="detailImage">
				<%= image_tag product.image, :size => "300x300" %>
			</div>

           		
            	
  			</div>

  			<div class="col-md-5">
  				<p class="title"><%= product.name %> </p>
  				<p class="description"><%= product.description %></p>

  				<div class="btn-group">
  					<p class="detail-button-text">Size:</p>
  					<button type="button" class="btn btn-default btn-sm dropdown-toggle filter-button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100px;margin-left:2px; text-align: left; border-radius: 2px">
    				<% if @chosenS.present? %>
              <%= @chosenS.size  %>
              
              <% end %>
             <span class="pull-right"><span class="caret" ></span></span>
  					</button>
  					<ul class="dropdown-menu">
              <% @sizes.each do |size| %>
              <% if @chosenC.present? %>
              <% @chosenC.each do |c| %>
              <li><%= link_to size.size, :id => product.id, :color_id => c.id, :size_id => size.id %> </li>
              <% end %>
              <% else %>
  						<li><%= link_to size.size, :size_id => size.id, :id => product.id  %></li>
              <% end %>
              <% end %>
    
  					</ul>


				</div>

				<div class="btn-group">
  					<p class="detail-button-text" style="margin-left:13px">Color:</p>
  			
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100px;margin-left:14px; text-align: left; border-radius: 2px">
              <% if @chosenC.present? %>
              <% @chosenC.each do |c| %>
              <%= c.color %>
              <% @color=c.color %>
              <% end %>
              <% end %>
    				<span class="pull-right"><span class="caret" ></span></span>
            </button>
  					<ul class="dropdown-menu" >
  						<% @colors.each do |color| %>
              <% if @chosenS.present? %>
              <% @chosenS.each do |s| %>
              <li><%= link_to color.color, :id => product.id, :color_id => color.id, :size_id => s.id %> </li>
              <% end %>
              <% else %>
              <li><%= link_to color.color, :id => product.id,  :color_id => color.id %></li>
              <% end %>
              <% end %>
    
  					</ul>


				</div>

      <div>
        <form role="form">
          <div class="form-group">
            <label for="quantity" class="detail-button-text" style="margin-left:3px; margin-top: 16px;">Quantity:</label>
            <select input type="quantity" class="form-control" id="quantity" style="width: 70px;margin-left:3px; margin-bottom: -5px; text-align: left; border-radius: 2px; margin-top: 1px; height: 31px; ">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
        </div>
      </form>
  </div>
  <p class="price">Unit Price: <span style="color: green"><%= product.price.round(2) %></span> KM</h4>
        

			</br>
				<div class="btn-group">

          

          <%= link_to raw('<button type="button" class="btn btn-default btn-sm addtoCartButton" style="width: 116px;margin-left:2px; text-align: center; margin-top: 15px">Add to Cart</button>'), {:controller =>'cart', :action => 'add', :method => :post, :id => product.id, :color => @color, :size => @size} %> 

					<!--<button type="button" class="btn btn-default btn-sm addtoCartButton" style="width: 116px;margin-left:2px; text-align: center; margin-top: 15px">Add to Cart</button>--> 

					<%= link_to raw('<button type="button" class="btn btn-primary btn-sm background buyButton" style="width: 103px; margin-left:18px; text-align: center; margin-top: 15px">Buy it now</button>') %>
				</div>

  			</div>
  			<% end %>

  			<div class="col-md-1">
  			</div>

  		</div>
  	</div>
  </br>

<h5 class="text_like"> You may also like </h5>

  <div class="container suggestedPart">
<div class="row">
  <div class="col-md-1">
  </div>
  
 <div class="col-md-10">
    
    <% @featured_product.each do |f| %>
    <div class="image hovereffect">
     <%= image_tag f.image, :size => "180x180" %>
      <div class="overlay">
        <h2> <%= link_to f.name, :controller => "product", :action => "detail", :id => f.id %></h2>
           <p class="info" href="#"><%= f.price.round(2) %> KM</p>
        </div> 
    </div>
     <% end %>
    </div>
  
 <div class="col-md-1">
 </div>
</div>
</div>
	





  </body>

</html>





