<!DOCTYPE html>
<html>
<head>
  <title>Abhshoes</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "header.css" %> 
  <%= yield :head %>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top " role = "navigation" style="color: #fcf8e3">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-10">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if signed_in? %>
          <% if current_user.admin %>
          <a class="navbar-brand" href="../admin/dashboard" style="margin-left:60px; margin-right: 50px; color: #fcf8e3">abhShoes</a>
          <% else %>
          <a class="navbar-brand" href="/" style="margin-left:60px; margin-right: 50px; color: #fcf8e3">abhShoes</a>
          <% end %>
        <% else %>
          <a class="navbar-brand" href="/" style="margin-left:60px; margin-right: 50px; color: #fcf8e3">abhShoes</a>
        <% end %>
        
      </div> 

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% categories=Category.all %>
        <% categories.each do |f| %>
        <li class ="nav-menu"><%= link_to f.name ,{:action => 'show', :controller=>"product", :tag => f.tag }%></li> 
        
        <% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right nav-pills" role="tablist">
        <% if signed_in? %>
          <li class ="nav-menu username"> Welcome <%= @user.username %></li>
          <li class ="nav-menu"><%= link_to "LOGOUT", {:action => 'destroy', :controller=>"sessions" }%></li>
          <li style="padding-top:16px;"> <span><%= link_to raw('<span class="glyphicon glyphicon-shopping-cart cart" style="margin-left:30px" ></span>'),   {:controller =>'cart', :action => 'show'} %></span> <span class="badge" style="font-size:10px; position: inherit; top: -1px; margin-right:60px"><%=cartQuantity %></span>
          </li>
          
        <% else %>
          <li class ="nav-menu"><%= link_to "LOGIN", {:action => 'new', :controller=>"sessions" }%></li>
          <li class ="nav-menu" style="margin-right:60px"><%= link_to "REGISTER", {:action => 'new', :controller=>"users" }%></li>

        <% end %>

     </ul>
    </div>
    </div>
    <div class="col-md-1">
    </div>
    </div>

  </div>

</nav>
<% if signed_in? %>
  <% if current_user.admin %>
<div class"row">
<div class="col-md-1">
</div>
<div class="col-md-10">
<nav class="navbar navbar-default navbar-dashboard">
  

   
      <ul class="nav navbar-nav">
            
        <li class ="nav-menu"><%= link_to "Dashboard" ,{:action => 'dashboard', :controller=>"admin" }%></li>
        <li class ="nav-menu"><%= link_to "Categories" ,{:action => 'categories', :controller=>"admin" }%></li> 
        <li class ="nav-menu"><%= link_to "Shoes" ,{:action => 'shoes', :controller=>"admin" }%></li> 
        <li class ="nav-menu"><%= link_to "Users" ,{:action => 'users', :controller=>"admin" }%></li> 
        <li class ="nav-menu"><%= link_to "Countries" ,{:action => 'countries', :controller=>"admin" }%></li>
        
        
       </ul>
     
   
   
  
</nav>
</div>
<div class="col-md-1">
</div>
</div>

  <% end %>
<% end %>


<%= yield %>

<footer>
  <hr class="hr"/>
  <p class="footer"> Copyright&copy;abhShoes. All rights reserved. </p>
</footer>

<script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 

<%= yield :footer %>

</body>
</html>

